<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        @page {

            @top-center { content: element(header) }

            @bottom-center {
                font: 10pt Arial, Helvetica, sans-serif; line-height: 10pt;
                content: "Page " counter(page) " of " counter(pages);
            }
        }

        div.header {
            display: block; text-align: center;
            position: running(header);
        }
        div.content {page-break-after: always;}

      .page-break {
           page-break-after: always;
       }

       .next-page {
           page-break-before: always
       }


    </style>
</head>

<body style="margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif">
<div class="header">
    <table style="width:675px; padding-left:4%;">
        <tr>
            <td style="text-align:left; height: 60px; border-bottom: 1px solid black;">
                <img style="width: 40px; height: 40px;" th:src="@{${logoPath}}" alt="APIX Logo"/>
            </td>
        </tr>
    </table>
    <br/>
    <br/>
</div>
<table style=" width: 675px; padding-left:8%; padding-top: 30px">
    <tr>
        <td style="text-align:left; vertical-align:top; height: 110px;">
            <img th:src="@{${logoPath}}" alt="APIX Logo"/>
        </td>
        <td style="text-align:right; line-height:30px; font-size:15px; width: 30px;">
            <span th:text="${name}"></span>
            <br/>
            <span th:text="${address}"></span>
            <br/>
            <span th:text="${vat_no}"></span>
            <br/>
            <span th:text="${company_mail}" style="font-size:13px;"></span>
            <br/>
            <span th:text="${phone_number}" style="font-size:13px;"></span>
            <br/>
            <br/>
        </td>
    </tr>

    <tr>
        <td style="text-align:left; vertical-align:top; line-height:30px; font-size:15px; width: 30px;padding-bottom:0;">
            <span style=" font-weight:bold;">RECIPIENT</span>
            <br/>
            <span th:text="${recipient_name}"></span>
            <br/>
            <span th:text="${recipient_address}"></span>
            <br/>
            <span th:text="${recipient_mail}" style="font-size:13px;"></span>
            <br/>
            <span th:text="${recipient_phone_number}" style="font-size:13px;"></span>
        </td>
        <td style="text-align:right; line-height:25px; font-size:15px; ">
            <span style=" font-weight:bold;">PAYMENT REF.</span>
            <br/>
            <span th:text="${payment_ref}"></span>
            <br/>
            <br/>
            <span style=" font-weight:bold;">PAYMENT DATE</span>
            <br/>
            <span th:text="${payment_date}"></span>
            <br/>
            <br/>
        </td>
    </tr>
</table>


<table style=" width:675px; padding-left:8%; padding-top:40px; font-size:15px; -fs-table-paginate: paginate; border-spacing: 0;">
    <thead>
    <tr>
        <td style="text-align:center; border-bottom: 1px solid black;" colspan="2">
            <span style=" font-weight:bold;">Payment Details</span>
        </td>
    </tr>
    </thead>
    <tr>
        <td style="text-align:left; font-weight:bold; padding-top: 15px; padding-bottom: 10px;">
            <span th:text="${payment_description}"></span>
            <br/>
            <span th:text="${payment_comments}" style="font-size:13px;"></span>
            <br/>
        </td>
        <td style="text-align:right;">
            <span th:text="${payment_amount}"></span>
        </td>
    </tr>

    <tr style="border-bottom: 1px solid black; border-top: 1px solid black;">
        <td style="text-align:left; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid black; border-top: 1px solid black">
            <span>SUBTOTAL</span>
        </td>
        <td style="text-align:right; border-bottom: 1px solid black; border-top: 1px solid black">
            <span th:text="${subtotal}"></span>
        </td>
    </tr>

    <tr>
        <td style="text-align:left;padding-top: 15px; font-weight:bold; padding-bottom: 15px;">
            <span>TOTAL DUE AMOUNT</span>
        </td>
        <td style="text-align:right; font-weight:bold;">
            <span th:text="${total_due_amount}"></span>
        </td>
    </tr>
</table>
<table style="width:675px; padding-left:8%;">

    <tr th:if="${due_flag} == 'Y'">
        <td style="text-align:right;padding-top: 20px; font-size:12px;">
            <span>Transfer the amount to the business account below. Please include invoice number on your check.</span>
            <br/>
            <span>BANK:</span>
            <span th:text="${bank}" style="font-weight:bold; margin-right: 40px;"></span>
            <span>IBAN:</span>
            <span th:text="${iban}" style="font-weight:bold;"></span>
        </td>
    </tr>
    <tr>
        <td style="text-align:left; padding-top:15px; padding-bottom: 15px;">
            <span style=" font-weight:bold;">NOTES</span>
            <br/>
            <p style=" font-size:12px;">All amounts are in <span th:text="${currency_description}"></span>. Please make
                the payment within 15 days from the issue of date of this invoice.
                Tax is not charged on the basis of paragraph 1 of Article 94 of the Value Added Tax Act (I am not liable
                for VAT).</p>
            <span style=" font-size:12px;">Thank you for you confidence.
                    <br/>Signature</span>

        </td>
    </tr>
</table>
</body>

</html>
